<html>
    <head>
        <h1 style= "text-align: center; color: brown;"> <b>Fill the form</b></h1>
    </head>
    <body>
        
        <form action="/blogs" method='post'>
            <h3 style="text-align:center; line-height: 1.5;"><b>area</b>
            <input type="number" name='area' placeholder='area' required= 'required' />
            <b>&emsp; rooms</b>
            <input type="text" name='rooms' placeholder='rooms' required= 'required' />
            <b>&emsp; bathroom</b>
            <input type="text" name='bathroom' placeholder='bathroom' required= 'required' />
            <b>&emsp; floors</b>
            <input type="text" name='floors' placeholder='floors' required= 'required' /></h3>
            <h3 style="text-align:center; line-height: 1.5;"><b> driveway report</b>
            <input type="text" name='driveway' placeholder='driveway' required= 'required' />
            <b>&emsp; game_room</b>
            <input type="text" name='game_room' placeholder='game_room' required= 'required' />
            <b>&emsp; cellar</b>
            <input type="text" name='cellar' placeholder='cellar' required= 'required' />
            <b>&emsp; gas</b>
            <input type="text" name='gas' placeholder='gas' required= 'required' />
            <b>&emsp; air</b>
            <input type="text" name='air' placeholder='air' required= 'required' /></h3>
            <h3 style="text-align:center; line-height: 1.5;"><b> garage</b>
            <input type="text" name='garage' placeholder='garage' required= 'required' />
            <b>&emsp; situation</b>
            <input type="text" name='situation' placeholder='situation' required= 'required' />
            </h3>

            <h3 style="text-align:center; line-height: 1.5;"><button type='submit'>Predict</button></h3>

        </form>


    </body>

</html>